html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* My styles */

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

header {
    padding: 10px 35px;
    background-color: white;
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    font-weight: bold;
}

.greetings {
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-button {
    padding: 10px 25px;
    color: white;
    background-color: #1992d4;
    border-radius: 20px;
    font-weight: bold;
    border: 0;
}


.search {
    display: flex;
    gap: 15px;
    width: 80%;
    align-items: center;
}

.search-bar {
    flex: 1;
    border-radius: 20px;
    padding: 5px;
    background-color: lightgray;
    border: 0;
}

.user-avatar {
    max-width: 60px;
    max-height: 30px;
    border-radius: 50%;

}

.search {
    justify-self: start;
}


.dashboard {
    grid-row: 1/-1;
    background-color: #1992d4;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 20px;
}

.dashboard * {
    color: white;
}

.dashboard > h1 {
    font-size: 2rem;
}

.dashboard > img {
    width: 100%;
}

.dashboard-buttons {
    grid-column: 1 / -1;
    background-color: #1992d4;
    border: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.dashboard-buttons > h2 {
    justify-self: start;
    font-size: 1.5rem;
}

button:hover {
    scale: 1.1;
    cursor: pointer;
}

#community {
    margin-bottom: 60px;
}

main {
    grid-column: 2/-1;
    background-color: yellow;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px 15px;
    background-color: #e2e8f0;
    color: black;
    gap: 20px;
}

.main-projects {
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px repeat(3, 1fr);
    gap: 20px;
}

.main-projects > p {
    grid-column: 1 / -1;
}

.card {
    background-color: #ffffff;
    border-left: 5px solid #f0b429;
    padding: 30px 15px;
    display: grid;
    grid-template-columns: auto repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}

.card > h1,
.card > p {
    grid-column: 1 / -1;
}

.card-buttons {
    grid-column: 4/5;
    display: flex;
    gap: 20px;
}

.card-buttons > button {
    border: none;
}

